body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SF Bold", "SF Normal",
    "SF Italic", "SF Italic Bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.4vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-family: "SF Bold";
  font-size: 24px;
  font-weight: bold;
  color: #1f1f1e;
}

.header {
  font-family: "SF Bold";
  font-size: 18px;
  font-weight: bold;
  color: #1f1f1e;
}

/* Bootstrap text classes */
.normal-text {
  font-family: "SF Normal";
  font-size: 1.2vw;
  color: #1f1f1e;
}
.hover-box {
  transition: box-shadow 0.3s;
  background: #753636;
}

.hover-box:hover {
  box-shadow: 10px 10px 20px rgba(30, 8, 39, 0.2); /* Added 'px' to the shadow offsets and blur radius */
}
.sticky-column {
  position: sticky;
  top: 0;
  height: 100vh; /* Adjust the height as per your requirement */
}

@font-face {
  font-family: "SF Normal";
  font-style: normal;
  font-weight: normal;
  src: local("SF Pro"),
    url("./fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
}

@font-face {
  font-family: "SF Bold";
  font-style: bold;
  font-weight: normal;

  src: local("SF Pro"), url("./fonts/SFPRODISPLAYBOLD.OTF") format("truetype");
}

@font-face {
  font-family: "SF Italic";
  font-style: italic;
  font-weight: normal;
  src: local("SF Pro"),
    url("./fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF") format("truetype");
}

@font-face {
  font-family: "SF Italic Bold";
  font-style: italic;
  font-weight: bold;
  src: local("SF Pro"),
    url("./fonts/SFPRODISPLAYBLACKITALIC.OTF") format("truetype");
}
